:root {
	--bg-inicio: #F5F7FA;
	--sidebar: #1F2937;
	--card: #FFFFFF;

	--primary: #3B82F6;
	--primary-hover: #2563EB;

	--danger: #EF4444;

	--text: #111827;
	--text-light: #6B7280;

	--transicao: 0.2s ease-in-out;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: var(--bg-inicio);
}

.layout {
	display: flex;
	min-height: 100vh;
}

.sidebar {
	width: 240px;
	background: var(--sidebar);
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.logo-sidebar {
	width: 140px;
	height: auto;

	margin-bottom: 25px;

	display: block;
	align-self: center;

	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.18));
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.perfil {
	text-align: center;
	margin-bottom: 25px;
}

.perfil i {
	font-size: 50px;
	display: block;
	margin-bottom: 8px;
}

.perfil span {
	font-size: 14px;
}

.menu a {
	display: flex;
	align-items: center;
	gap: 8px;
	color: white;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 8px;
	border-radius: 6px;
	transition: var(--transicao);
}

.menu a:hover {
	background: var(--primary);
}

.menu a.active {
	background: var(--primary);
}

.sair {
	margin-top: auto;
	text-align: center;
	background: var(--danger);
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	transition: var(--transicao);
}

.sair:hover {
	background: #dc2626;
}

.content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.card-home {
	background: var(--card);
	width: 520px;
	padding: 32px;
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

.card-home h1 {
	color: var(--text);
	margin-bottom: 10px;
}

.card-home span {
	color: var(--primary);
}

.card-home p {
	color: var(--text-light);
	margin-bottom: 20px;
}

.acoes {
	display: flex;
	gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
}

.btn-success {
	background: #22C55E;
	border: none;
}

.btn-success:hover {
	background: #16A34A;
}

.btn-primary {
	background: var(--primary);
	border: none;
}

.btn-primary:hover {
	background: var(--primary-hover);
}